<%- include('./layouts/frontend/head.ejs') %>

    <body class="mobile_nav_class jl-has-sidebar">
        <div class="options_layout_wrapper jl_radius jl_none_box_styles jl_border_radiuss">
            <div class="options_layout_container full_layout_enable_front">


                <%- include('./layouts/frontend/nav.ejs') %>

                    <!-- slider section -->
                    <div class="jl_home_section jl_home_slider">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 jl_mid_main_3col">
                                    <div class="page_builder_slider jelly_homepage_builder">
                                        <div class="jl_slider_nav_tab large_center_slider_container">
                                            <div class="row header-main-slider-large">
                                                <div class="col-md-12">
                                                    <div class="large_center_slider_wrapper">
                                                        <div class="home_slider_header_tab jelly_loading_pro">

                                                            <% banner.forEach(elem=> { %>
                                                                <div class="item">
                                                                    <div class="banner-carousel-item"> <span
                                                                            class="image_grid_header_absolute"
                                                                            style="background-image: url('/<%=elem.thumb_image %>')"></span>
                                                                        <a href="#"
                                                                            class="link_grid_header_absolute"></a>
                                                                        <div class="banner-container">
                                                                            <div class="container">
                                                                                <div class="row">
                                                                                    <div class="col-md-12">
                                                                                        <div
                                                                                            class="banner-inside-wrapper">
                                                                                            <span
                                                                                                class="meta-category-small"><a
                                                                                                    class="post-category-color-text"
                                                                                                    style="background:#0015ff"
                                                                                                    href="#">
                                                                                                    <%=elem?.category[0].title
                                                                                                        %>
                                                                                                </a></span>
                                                                                            <h5><a
                                                                                                    href="<%= elem.blog_link %>">
                                                                                                    <%= elem.title %>
                                                                                                </a></h5>
                                                                                            <span
                                                                                                class="jl_post_meta"><span
                                                                                                    class="jl_author_img_w">
                                                                                                    <img src="/frontend/img/favicon.jpg"
                                                                                                        width="30"
                                                                                                        height="30"
                                                                                                        alt="Anna Nikova"
                                                                                                        class="avatar avatar-30 wp-user-avatar wp-user-avatar-30 alignnone photo" /><a
                                                                                                        href="#"
                                                                                                        title="Posts by Anna Nikova"
                                                                                                        rel="author">
                                                                                                        <%= elem?.creator.userName
                                                                                                            %>
                                                                                                    </a></span><span
                                                                                                    class="post-date">
                                                                                                    <i
                                                                                                        class="fa fa-clock-o"></i>Dec
                                                                                                    24,
                                                                                                    2016</span></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <% }) %>

                                                        </div>
                                                        <div class="jlslide_tab_nav_container">
                                                            <div class="jlslide_tab_nav_row">
                                                                <div
                                                                    class="home_slider_header_tab_nav news_tiker_loading_pro">
                                                                    <div class="item">
                                                                        <div class="banner-carousel-item"> <span
                                                                                class="image_small_nav"
                                                                                style="background-image: url('/frontend/theme//disto/demo/wp-content/uploads/2019/02/irina-iriser-654436-unsplash-120x120.jpg')"></span>
                                                                            <h5>
                                                                                People are enjoy the job that they love
                                                                            </h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="item">
                                                                        <div class="banner-carousel-item"> <span
                                                                                class="image_small_nav"
                                                                                style="background-image: url('/frontend/theme//disto/demo/wp-content/uploads/2019/02/vincent-branciforti-797823-unsplash-120x120.jpg')"></span>
                                                                            <h5>
                                                                                Every photographer needs to shoot this
                                                                                photo
                                                                            </h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="item">
                                                                        <div class="banner-carousel-item"> <span
                                                                                class="image_small_nav"
                                                                                style="background-image: url('/frontend/theme//disto/demo/wp-content/uploads/2019/02/daniel-olah-1079449-unsplash-120x120.jpg')"></span>
                                                                            <h5>
                                                                                Have a good time with my friend and
                                                                                enjoyed
                                                                            </h5>
                                                                        </div>
                                                                    </div>
                                                                    <div class="item">
                                                                        <div class="banner-carousel-item"> <span
                                                                                class="image_small_nav"
                                                                                style="background-image: url('/frontend/theme//disto/demo/wp-content/uploads/2019/02/daniel-korpai-1236913-unsplash-120x120.jpg')"></span>
                                                                            <h5>
                                                                                This is a great photo and nice for
                                                                                shooting
                                                                            </h5>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Home grid section -->
                    <div class="jl_home_section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 jl_mid_main_3col">
                                    <div class="jl_3col_wrapin">

                                        <div
                                            class="jelly_homepage_builder jl_nonav_margin homepage_builder_3grid_post jl_fontsize22 jl_cus_grid3 colstyle1">
                                            <div class="homepage_builder_title">
                                                <h2>
                                                    Latest news
                                                </h2>
                                                <span class="jl_hsubt"></span>
                                            </div>
                                            <div class="jl_wrapper_row">
                                                <div class="row">
                                                    <% blogs.forEach((blog,index)=> { %>

                                                        <div class="col-md-4 blog_grid_post_style  jl_row_1">
                                                            <div class="jl_grid_box_wrapper">
                                                                <div class="image-post-thumb">
                                                                    <a href="/blog/<%=blog._id %>"
                                                                        class="link_image featured-thumbnail"
                                                                        title="This is a great photo and nice for shooting">
                                                                        <% if (blog.thumb_image) { %>
                                                                            <img width="780" height="450"
                                                                                src="/<%= blog.thumb_image %>"
                                                                                class="attachment-disto_large_feature_image size-disto_large_feature_image wp-post-image"
                                                                                alt="" />
                                                                            <%} else {%>
                                                                                <img width="780" height="450"
                                                                                    src="/frontend/theme//disto/demo/wp-content/uploads/2019/02/daniel-korpai-1236913-unsplash-780x450.jpg"
                                                                                    class="attachment-disto_large_feature_image size-disto_large_feature_image wp-post-image"
                                                                                    alt="" />
                                                                                <% } %>
                                                                                    <div class="background_over_image">
                                                                                    </div>
                                                                    </a>
                                                                    <div class="meta-category-small"
                                                                        style="display: flex;gap:5px;">
                                                                        <% blog?.category.forEach(category=> { %>
                                                                            <span>
                                                                                <a class="post-category-color-text"
                                                                                    style="background:#d66300"
                                                                                    href="/category/<%= category.title %>/<%= category._id %>">
                                                                                    <%= category.title %>
                                                                                </a>
                                                                            </span>
                                                                            <% }) %>
                                                                    </div>
                                                                </div>
                                                                <div class="post-entry-content">
                                                                    <h3 class="image-post-title">
                                                                        <a href="/blog/<%=blog._id %>">
                                                                            <%= blog.title %>
                                                                        </a>
                                                                    </h3>
                                                                    <span class="jl_post_meta">
                                                                        <span class="jl_author_img_w">
                                                                            <img src="/frontend/img/favicon.jpg"
                                                                                width="30" height="30" alt="Anna Nikova"
                                                                                class="avatar avatar-30 wp-user-avatar wp-user-avatar-30 alignnone photo" />
                                                                            <a href="#" title="Posts by Anna Nikova"
                                                                                rel="author">
                                                                                <%= blog?.creator.userName %>
                                                                            </a>
                                                                        </span>
                                                                        <span class="post-date"><i
                                                                                class="fa fa-clock-o"></i>
                                                                            <%= new
                                                                                Date(blog.writing_date).toLocaleString()
                                                                                %>
                                                                        </span></span>
                                                                    <div class="content_post_grid">
                                                                        <a href="/blog/<%=blog._id %>">
                                                                            <p><%- blog.short_description %></p>
                                                                        </a>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <% if ((index+1) % 3===0) { %>
                                                            <div class="clear_line_3col_home"></div>
                                                            <% } %>
                                                                <% }) %>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Home main right -->
                    <div class="jl_home_section jl_home_mbg">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 jl_mid_main_3col">
                                    <div class="jl_3col_wrapin">
                                        <div class="jl_main_with_right_post jelly_homepage_builder">
                                            <div class="homepage_builder_title">
                                                <h2 class="builder_title_home_page">
                                                    Top Of the week
                                                </h2>
                                            </div>

                                            <div class="jl_main_post_style_padding">
                                                <div class="jl_main_post_style"> <span
                                                        class="image_grid_header_absolute"
                                                        style="background-image: url('/frontend/theme//disto/demo/wp-content/uploads/2019/02/bruce-christianson-559084-unsplash-1920x982.jpg')"></span>
                                                    <a href="#" class="link_grid_header_absolute"
                                                        title="It’s always fun time and smile in the summer"></a>
                                                    <div class="post-entry-content"> <span
                                                            class="meta-category-small"><a
                                                                class="post-category-color-text"
                                                                style="background:#0015ff" href="#">Business</a></span>
                                                        <h3 class="image-post-title"><a href="#">
                                                                It’s always fun time and smile in the summer</a>
                                                        </h3>
                                                        <span class="jl_post_meta"><span class="jl_author_img_w"> <img
                                                                    src="/frontend/img/favicon.jpg" width="30"
                                                                    height="30" alt="Anna Nikova"
                                                                    class="avatar avatar-30 wp-user-avatar wp-user-avatar-30 alignnone photo" /><a
                                                                    href="#" title="Posts by Anna Nikova"
                                                                    rel="author">Anna
                                                                    Nikova</a></span><span class="post-date"><i
                                                                    class="fa fa-clock-o"></i>Dec 24, 2016</span></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <% lastDaysData.forEach(element=> { %>
                                                <div class="jl_list_post_wrapper">
                                                    <a href="#"
                                                        class="jl_small_format feature-image-link image_post featured-thumbnail">
                                                        <img width="120" height="120" src="/<%= element.thumb_image %>"
                                                            class="attachment-disto_small_feature size-disto_small_feature wp-post-image"
                                                            alt="" />
                                                        <div class="background_over_image"></div>
                                                    </a>
                                                    <div class="item-details"> <span class="meta-category-small">
                                                            <% element.category.forEach(elem=> { %>
                                                                <a class="post-category-color-text"
                                                                    style="background:#d1783c"
                                                                    href="/category/<%= elem.title %>/<%= elem._id %>">
                                                                    <%= elem.title %>
                                                                </a>
                                                                <% }) %>
                                                        </span>
                                                        <h3 class="feature-post-title"><a
                                                                href="/blog/ <%= element._id %>">
                                                                <%= element.title %>
                                                            </a>
                                                        </h3>
                                                        <span class="post-meta meta-main-img auto_image_with_date">
                                                            <span class="post-date"><i class="fa fa-clock-o"></i>Dec 24,
                                                                2016</span></span>
                                                    </div>
                                                </div>
                                                <% }) %>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="jl_home_section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8" id="content">
                                    <h2 class="mb-4"> Sports News</h2>
                                    <div
                                        class="post_list_medium_widget jl_nonav_margin page_builder_listpost jelly_homepage_builder jl-post-block-725291">
                                        <% sportsBlog?.forEach(element=> { %>
                                            <div class="blog_list_post_style">
                                                <div
                                                    class="image-post-thumb featured-thumbnail home_page_builder_thumbnial">
                                                    <div class="jl_img_container"> <span
                                                            class="image_grid_header_absolute"
                                                            style="background-image: url('/<%= element.thumb_image %>')"></span>
                                                        <a href="#" class="link_grid_header_absolute"></a>
                                                    </div>
                                                </div>
                                                <div class="post-entry-content"> <span class="meta-category-small">
                                                        <% element.category?.forEach(ele=> { %>
                                                            <a class="post-category-color-text"
                                                                style="background:#ed1c1c"
                                                                href="/category/<%= ele.title %>/<%= ele._id %>">
                                                                <%= ele.title %>
                                                            </a>
                                                            <% }) %>


                                                    </span> <span
                                                        class="post-meta meta-main-img auto_image_with_date"><span
                                                            class="post-date"><i class="fa fa-clock-o"></i>Dec 24,
                                                            2016</span><span class="meta-comment"><a href="#"><i
                                                                    class="fa fa-comment"></i>0</a></span></span>
                                                    <h3 class="image-post-title"><a href="/blog/<%= element._id %>">
                                                            <%= element?.title %>
                                                        </a>
                                                    </h3>
                                                    <div class="large_post_content">
                                                        <p> <%- element?.short_description %></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }) %>


                                    </div>
                                </div>
                                <div class="col-md-4" id="sidebar">
                                    <div id="panel-4212-2-1-0"
                                        class="so-panel widget widget_socialcountplus panel-first-child" data-index="5">
                                        <div class="social-count-plus">
                                            <ul class="default">
                                                <% media.forEach(element=> { %>
                                                    <li class="<%= element.title %>">
                                                        <i class="<%= element?.icon %>" aria-hidden="true">
                                                            <a class="icon" href="<%= element.link %>"
                                                                rel="nofollow noopener noreferrer" target="_blank"></a>
                                                            <span class="items"><span class="count">
                                                                    <%= element.count %>k
                                                                </span><span class="label">
                                                                    <%= element.unite %>
                                                                </span></span>
                                                        </i>
                                                    </li>
                                                    <% }) %>
                                            </ul>
                                        </div>
                                    </div> <span class="jl_none_space"></span>
                                    <div id="panel-4212-2-1-1"
                                        class="so-panel widget widget_disto_category_image_widget_register jellywp_cat_image"
                                        data-index="6">
                                        <div class="wrapper_category_image">
                                            <div class="category_image_wrapper_main">
                                                <% categoryView.forEach(element=> { %>
                                                    <div class="category_image_bg_image"
                                                        style="background-image: url('/frontend/theme//disto/demo/wp-content/uploads/2019/02/annie-spratt-70918-unsplash-400x280.jpg');">
                                                        <a class="category_image_link" id="category_color_2"
                                                            href="/category/<%= element.title %>/<%= element._id %>"><span
                                                                class="jl_cm_overlay"><span class="jl_cm_name">
                                                                    <%= element?.title %>
                                                                </span><span class="jl_cm_count" style="color: black;">
                                                                    <%= element?.count %>
                                                                </span></span></a>
                                                        <div class="category_image_bg_overlay"
                                                            style="background: #ed1c1c;">
                                                        </div>
                                                    </div>
                                                    <% }) %>


                                            </div> <span class="jl_none_space"></span>
                                        </div>
                                    </div> <span class="jl_none_space"></span>
                                    <div id="panel-4212-2-1-2"
                                        class="so-panel widget widget_disto_recent_post_widget post_list_widget"
                                        data-index="7">
                                        <div class="widget_jl_wrapper"> <span class="jl_none_space"></span>
                                            <h3 class="widget-title">Recent Posts</h3>
                                            <div>
                                                <ul class="feature-post-list recent-post-widget">

                                                    <% recent3post.forEach(elem=> { %>
                                                        <li>
                                                            <a href="#"
                                                                class="jl_small_format feature-image-link image_post featured-thumbnail"
                                                                title="Sitting right here waiting for you come to me">
                                                                <img width="120" height="120"
                                                                    src="/<%= elem.thumb_image %>"
                                                                    class="attachment-disto_small_feature size-disto_small_feature wp-post-image"
                                                                    alt="" />
                                                                <div class="background_over_image"></div>
                                                            </a>
                                                            <div class="item-details"> <span
                                                                    class="meta-category-small">
                                                                    <% elem?.category.forEach(element=> { %>
                                                                        <a class="post-category-color-text"
                                                                            style="background:#d800f9"
                                                                            href="/category/<%= element.title %>/<%= element._id %>">
                                                                            <%= element.title %>
                                                                        </a>
                                                                        <% }) %>

                                                                </span>
                                                                <h3 class="feature-post-title">
                                                                    <a href="/blog/<%= elem._id %>">
                                                                        <%= elem?.title %>
                                                                    </a>
                                                                </h3>
                                                                <span
                                                                    class="post-meta meta-main-img auto_image_with_date">
                                                                    <span class="post-date"><i
                                                                            class="fa fa-clock-o"></i>Dec 24,
                                                                        2016</span></span>
                                                            </div>
                                                        </li>
                                                        <% }) %>

                                                </ul>
                                            </div> <span class="jl_none_space"></span>
                                        </div>
                                    </div> <span class="jl_none_space"></span>
                                    <div id="panel-4212-2-1-3"
                                        class="so-panel widget widget_disto_recent_large_slider_widgets jl_widget_slider panel-last-child"
                                        data-index="8">
                                        <div class="slider_widget_post jelly_loading_pro">
                                            <div class="recent_post_large_widget"> <span
                                                    class="image_grid_header_absolute"
                                                    style="background-image: url('/frontend/theme//disto/demo/wp-content/uploads/2019/03/banter-snaps-1438384-unsplash-380x350.jpg')"></span>
                                                <a href="#" class="link_grid_header_absolute"
                                                    title="Standing right here and singing until the mid"></a> <span
                                                    class="meta-category-small"><a class="post-category-color-text"
                                                        style="background:#ed1c1c" href="#">Active</a></span>
                                                <div class="wrap_box_style_main image-post-title">
                                                    <h3 class="image-post-title"><a href="#">
                                                            Standing right here and singing until the mid</a>
                                                    </h3>
                                                    <span class="jl_post_meta"><span class="jl_author_img_w"> <img
                                                                src="/frontend/img/favicon.jpg" width="30" height="30"
                                                                alt="Anna Nikova"
                                                                class="avatar avatar-30 wp-user-avatar wp-user-avatar-30 alignnone photo" /><a
                                                                href="#" title="Posts by Anna Nikova" rel="author">Anna
                                                                Nikova</a></span><span class="post-date"><i
                                                                class="fa fa-clock-o"></i>Dec 23, 2016</span></span>
                                                </div>
                                            </div>
                                            <div class="recent_post_large_widget"> <span
                                                    class="image_grid_header_absolute"
                                                    style="background-image: url('/frontend/theme//disto/demo/wp-content/uploads/2016/12/bartosz-wanot-133401-unsplash-380x350.jpg')"></span>
                                                <a href="#" class="link_grid_header_absolute"
                                                    title="You can make your art with canyon color"></a> <span
                                                    class="meta-category-small"><a class="post-category-color-text"
                                                        style="background:#6b34ba" href="#">Gaming</a></span>
                                                <div class="wrap_box_style_main image-post-title">
                                                    <h3 class="image-post-title"><a href="#">
                                                            You can make your art with canyon color</a>
                                                    </h3>
                                                    <span class="jl_post_meta"><span class="jl_author_img_w"> <img
                                                                src="/frontend/img/favicon.jpg" width="30" height="30"
                                                                alt="Anna Nikova"
                                                                class="avatar avatar-30 wp-user-avatar wp-user-avatar-30 alignnone photo" /><a
                                                                href="#" title="Posts by Anna Nikova" rel="author">Anna
                                                                Nikova</a></span><span class="post-date"><i
                                                                class="fa fa-clock-o"></i>Dec 23, 2016</span></span>
                                                </div>
                                            </div>
                                        </div> <span class="jl_none_space"></span>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!-- end content -->
                    <%- include('./layouts/frontend/footer.ejs') %>